<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>My chat</title>
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src = "chat.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/chat2.css">
</head>
<body onload="whoami()">
<div id ="frame">
<div id="sidepanel">
    <div >

            <div  class="alert alert-primary" role="alert">
                <label id="cu_username"></label>
                <br/>
                <label id="cu_name"></label>
            </div>
            <div id="allusers">

            </div>
</div>
</div>
<div class = "content">
            <label id="their_username"></label>
            <div id="messages"></div>
                <input type="text" id="postmessage" value="Escribe aqui..."/>

                <input type="button" onclick="sendMessage()" value="send message">
    </div>
</div>
</body>
