<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>

</head>
<body>
    <div align="center" width="80%">
        <div class="alert alert-primary" role="alert">
          CS2B01 - Platform-Based Development
        </div>
        <img src="/static/images/cs.png"/>
        <div class="alert alert-primary" role="alert">
            201810642 --- Mauricio Rodriguez
        </div>
        <div><a href="/books">Books I have read</a></div>
        <br/>
        <div><a href="static/crud_messages.html">Manage messages</a></div>
        <div><a href="static/crud_users.html">Manage users</a></div>
        <div><a href="static/login.html">login</a></div>
    </div>
</body>
</html>
